//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 07 17:47:48 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CATODES<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "CATODES<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "K14" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "SET" LOCATE = SITE "D18" LEVEL 1;
COMP "HMS<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "HMS<1>" LOCATE = SITE "R17" LEVEL 1;
COMP "ANODES<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "ANODES<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "ANODES<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "ANODES<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "RST" LOCATE = SITE "B18" LEVEL 1;
COMP "I<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "I<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "I<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "I<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "I<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "I<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "CATODES<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "CATODES<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "CATODES<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "CATODES<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "CATODES<4>" LOCATE = SITE "G14" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

