//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 17 22:14:48 2022
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

